<nav class="navbar navbar-custom navbar-expand-lg">

    <button class="menu-btn" id="menuSidebar">
        <span class="menu-text">MENU</span>
    </button>

    <a class="navbar-brand" href="#" id="navbarBrand"></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" id="accountIcon">
                <img src="{{ url_for('static', filename='img/user.png') }}" alt="Tài khoản" class="account-icon">
            </a>
        </li>
    </ul>
    <div class="detail-account" id="detail-account" style="display: none;">
        <ul class="detail-account-items">
            <li><a href="/register_menu"><i class="fa fa-clipboard"></i> Đăng ký gói</a></li>
            <li><a href="/info_account"><i class="fa fa-user"></i> Tài khoản</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out-alt"></i> Đăng xuất</a></li>
        </ul>
    </div>
</nav>